@page
@model BirthDayPartyBooking.Pages.Customer.OrderHistory.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.Id" />
            <div class="form-group">
                <label asp-for="Order.GuestId" class="control-label"></label>
                <select asp-for="Order.GuestId" class="form-control" asp-items="ViewBag.GuestId"></select>
                <span asp-validation-for="Order.GuestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.TotalPrice" class="control-label"></label>
                <input asp-for="Order.TotalPrice" class="form-control" />
                <span asp-validation-for="Order.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Note" class="control-label"></label>
                <input asp-for="Order.Note" class="form-control" />
                <span asp-validation-for="Order.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PlaceId" class="control-label"></label>
                <select asp-for="Order.PlaceId" class="form-control" asp-items="ViewBag.PlaceId"></select>
                <span asp-validation-for="Order.PlaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.DeleteFlag" class="control-label"></label>
                <input asp-for="Order.DeleteFlag" class="form-control" />
                <span asp-validation-for="Order.DeleteFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Date" class="control-label"></label>
                <input asp-for="Order.Date" class="form-control" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
