@page
@model BirthDayPartyBooking.Pages.Admin.ServiceManagement.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>
    .text-danger {
        color: yellow;
    }
</style>
<hr />

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">Add a new Service</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label asp-for="Service.Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <input asp-for="Service.Name" type="text"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type name" required="">
                    <span asp-validation-for="Service.Name" class="text-danger"></span>
                </div>
                <div class="w-full">
                    <label asp-for="Service.Price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <input asp-for="Service.Price" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                    <span asp-validation-for="Service.Price" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Service.ServiceTypeId"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <select asp-for="Service.ServiceTypeId"  asp-items="ViewBag.ServiceTypeId"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    </select>
                </div>
                <div class="sm:col-span-2">
                    <label asp-for="Service.Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <textarea  asp-for="Service.Description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
                </div>
            </div>
            <button type="submit" value="Create" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Create
            </button>
        </form>
        <button onclick="window.location.href='./Index';" class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
            Back to List
        </button>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
