@page
@model BirthDayPartyBooking.Pages.Admin.ServiceManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

@* <div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Service.Id" />
            <div class="form-group">
                <label asp-for="Service.Name" class="control-label"></label>
                <input asp-for="Service.Name" class="form-control" />
                <span asp-validation-for="Service.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Description" class="control-label"></label>
                <input asp-for="Service.Description" class="form-control" />
                <span asp-validation-for="Service.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Price" class="control-label"></label>
                <input asp-for="Service.Price" class="form-control" />
                <span asp-validation-for="Service.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.ServiceTypeId" class="control-label"></label>
                <select asp-for="Service.ServiceTypeId" class="form-control" asp-items="ViewBag.ServiceTypeId"></select>
                <span asp-validation-for="Service.ServiceTypeId" class="text-danger"></span>
            </div>
                <input type="hidden" asp-for="Service.HostId" class="form-control" />
                <input type="hidden" asp-for="Service.DeleteFlag" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@
<section class="bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-2xl lg:py-8">
        <h2 class="text-5xl font-bold text-gray-900 dark:text-white">Edit Service</h2>
        <form class="mt-2" method="post">
            <input type="hidden" asp-for="Service.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label asp-for="Service.Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <input asp-for="Service.Name" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type name" required="">
                    <span asp-validation-for="Service.Name" class="text-danger"></span>
                </div>
                <div class="w-full">
                    <label asp-for="Service.Price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <input asp-for="Service.Price" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                    <span asp-validation-for="Service.Description" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Service.ServiceTypeId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <select asp-for="Service.ServiceTypeId" asp-items="ViewBag.ServiceTypeId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <span asp-validation-for="Service.ServiceTypeId" class="text-danger"></span>
                    </select>
                </div>
                <div class="sm:col-span-2">
                    <label asp-for="Service.Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                    <textarea asp-for="Service.Description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
                </div>
                <div class="w-full">
                    <input type="hidden" asp-for="Service.HostId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                    <input type ="hidden" asp-for="Service.DeleteFlag" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                </div>
            </div>
            <button type="submit" value="Save" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Save
            </button>
            <button asp-page="./Admin/ServiceManagement" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Back to list
            </button>
        </form>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
