@page
@model BirthDayPartyBooking.Pages.Host.IndexModel
@{
}
<div class="container text-center">
    <h1>Host Screen</h1>
    <a class="btn btn-outline-dark" href="Host/ManagePlace">Place Management</a>
    <a class="btn btn-outline-dark" href="Host/ManageService">Service Management</a>
    <a class="btn btn-outline-dark" href="Host/ManageOrder">Order Management</a>
</div>
