@page
@model BirthDayPartyBooking.Pages.Customer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Hosting</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hosts[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hosts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Booking" asp-route-id="@item.Id">Booking</a>
            </td>
        </tr>
}
    </tbody>
</table>
